<html>
<head>
</head>
<body>
	<h1>F1</h1>
		<table cellspacing="0px" border="1" width="900">
			<tbody>
				<tr>
					<td align="middle"><img width="80" src='undip.png' /></td>
				</tr>
				<tr>
					<td>
						<h2 align="center">UNIVERSITAS DIPONEGORO</h2>
						<p align="center"><strong>SURAT PERMINTAAN PEMBAYARAN<br>
						JENIS : UP</strong></p>
						<p align="right">
						<b>Nomor: 02/WR1/SPP-UP/Jan/2017</b>
						</p>
						<p align="left">
						TAHUN ANGGARAN : 2017<br>
						Tanggal	: 1 Januari 2017
						</p>
					</td>
				</tr>
				<tr>
					<td>Satuan Unit Kerja Penggunga Anggaran (SUKPA): Wakil Rektor I</td>
				</tr>
				<tr>
					<td>Unit Kerja : BAA &nbsp;&nbsp; Kode Unit Kerja : 44</td>
				</tr>
				<tr>
					<td>
						<table border=0>
							<tr>
								<td width='450'></td>
								<td>Kepada Yth.<br>
									Kuasa Pengguna Anggaran<br>
									SUKPA Wakil Rektor I<br>
									di Semarang
								</td>
							</tr>
							<tr>
								<td colspan="2">
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<p>
										Dengan Berpedoman pada Dokumen RKAT yang telah disetujui oleh MWA, bersama ini kami mengajukan Surat Permintaan Pembayaran sebagai berikut:<br>
										a. Jumlah Pembayaran Yang diminta: Rp. 300.000.000,-<br>
										b. Untuk Keperluan : Pengisian Uang Persediaan <br>
										c. Nama bendahara pengeluaran : Berani Sejahtera.<br>
										d. Alamat	: Jl.Prof. Sudharto Tembalang <br>
										e. No Rekening Bank	: 134765890910 <br>
										f. No NPWP	: 123456789 <br>
										g. Sumber Dana dari APBN	: Rp -<br>
										h. Sumber Dana Selain APBN	: Rp -<br>
										Pembayaran sebagaimana tersebut diatas, dibebankan pada pengeluaran dengan uraian sebagai berikut:<br>	
									</p>
								<td>
							</tr>
							
						</table>
						
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0px" border="1" width="900">
							<tr>
								<td colspan='3' align="center">
									<b>PENGELUARAN</b>
								</td>
								<td colspan='3' align="center">
									<b>PERHITUNGAN TERKAIT PIHAK LAIN</b>
								</td>
							</tr>
							<tr>
								<td rowspan="2" align="center">
									NAMA AKUN
								</td>
								<td rowspan="2" align="center">
									KODE AKUN
								</td>
								<td rowspan="2" align="center">
									JUMLAH UANG
								</td>
								<td colspan="3" align="center">
									PENERIMAAN DARI PIHAK KE-3
								</td>
								
							</tr>
							<tr>
								<td align="center">
									Akun
								</td>
								<td colspan="2" align="center">
									Jumlah Uang
								</td>
							</tr>
							<tr>
								<td>
									Isian Akun data
								</td>
								<td>
									Isian Kode Akun data
								</td>
								<td>
									Isian Jumlah Uang
								</td>
								<td>
									- Akun
								</td>
								<td colspan="2">
								</td>
							</tr>
							<tr>
								<td rowspan="3">
								..........................								
								</td>
								<td rowspan="3">
								..........................								
								</td>
								<td rowspan="3">
								..........................								
								</td>
								<td colspan="3" align="center">
									POTONGAN UNTUK PIHAK LAIN
								</td>
							</tr>
							<tr>
								<td align="center">
									Akun Pajak dan Potongan Lainnya
								</td>
								<td colspan="2" align="center">
									Jumlah Uang
								</td>
							</tr>
							<tr>
								<td align="center">
									iuran wajib Pegawai
								</td>
								<td colspan="2" align="center">
									Rp
								</td>
							</tr>
							<tr>
								<td colspan="2">
								Jumlah Pengeluaran
								</td>
								<td>
									Rp. 300.000
								</td>
								<td>
									Pajak Penghasilan
								</td>
								<td colspan="2">
									Rp.-
								</td>
							</tr>
							<tr>
								<td colspan="2">
								Dikurangi : Jumlah potongan untuk pihak lain
								</td>
								<td>
									Rp. 0
								</td>
								<td>
									...dst
								</td>
								<td colspan="2">
									Rp.0
								</td>
							</tr>
							<tr>
								<td colspan="2">
								<strong>Jumlah pembayaran yang diminta</strong>
								</td>
								<td>
									Rp. 300.000.000,-
								</td>
								<td>
									<strong>Jumlah Potongan</strong>
								</td>
								<td colspan="2">
									Rp.0
								</td>
							</tr>
							
						</table>
					</td>
				</tr>
				<tr>
					<td>
						SPP Sebagaimana dimaksud diatas, disusun sesuai dengan dokumen lampiran yang persyaratkan dan disampaikan secara bersamaan serta merupakan bagian yang tidak terpisahkan dari surat ini.<br><br>
						
																				
					</td>
				<tr>
				<tr>
					<td>
						<table>
							<tr>
								<td width="450">
								</td>
								<td>
									Semarang, 1 Januari 2017 <br>
									Bendahara Pengeluaran SUKPA<br>
									<br>
									<br>
									<br>
																		
									Berani Sejahtera<br>
									NIP 123456009<br>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Keterangan:</strong><br>
						<ul>
							<li>Semua bukti Pengeluaran untuk pekerjaan dengan perjanjian yang disahkan Pejabat Pembuat Komitmen telah diuji dan dinyatakan memenuhi persyaratan untuk dilakukan pembayaran atas beban RKAT Undip, selanjutnya bukti-bukti pengeluaran dimaksud disimpan dan diusahakan oleh Pejabat Penatasuahaan Keuangan SUKPA</li>
							<li>
							Semua Bukti-bukti pengeluaran untuk pekerjaan yang disahkan Pejabat dan pengendali Kegiatan (PPPK) telah diuji dan dinyatakan memenuhi persyaratan untuk dilakukan pembayaran atas beban RKAT Undip, selanjutnya bukti-bukti pengeluaran dimaksud disimpan dan ditatausahakan oleh Pejabat Penatausahaan SUKPA.
							</li>
							<li>Kebenaran perhitungan dan isi tertuang dalam SPP ini menjadi tanggung Jawab bendahara Pengeluaran sepanjang sesuai dengan bukti-bukti pengeluaran yang telah ditandatangani oleh PPPPK atau PPK</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<p>&nbsp;</p>
</body>
</html>